title: Tray Keller's Research Blog
description: "A Blog for tech enthusiasts "
author:
  name: "Tray Keller"
  email: "Neednottoknow"
  url: "https://traykeller.github.io/testsite2.github.io/"

baseurl: /

source: .
destination: ./_site
permalink: /:title
paginate: 3
paginate_path: /page/:num/

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

future: true
plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-sitemap

# Custom variables
owner : "Tray Keller"
year : "2021"
